// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.blogs-container {
  width: 100%;
  margin: 0 auto;
}

.blogs {
  text-align: center;
  display: inline-block;
  width: 33%;
  background-color: #D8F2FF;
  min-height: 400px;

  h5 {
    font-weight: normal;
    font-size: 1.4em;
    margin: 0 auto;
  }
}
